*.idea/
__pycache__/
*.ipynb_checkpoints/
Rough.ipynb
Clean_Ghana General Election.csv
comparison-1.txt
comparison-2.txt
irrelevant-edges-1.txt
irrelevant-edges-2.txt
main.sublime-workspace
pruning-2.txt
relevant-edges-1.txt
relevant-edges-2.txt
scoring.txt
logs
complete-*
*.pyc
new-csv-data
